<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uft.base.sync.oracle.dao.SeatsDao">

    <resultMap id="SeatsResultMap" type="com.uft.base.sync.oracle.model.Seats">
        <result column="EXCHANGE_TYPE" property="exchangeType" jdbcType="VARCHAR"/>
        <result column="SEAT_NO" property="seatNo" jdbcType="VARCHAR"/>
        <result column="FIRM_ID" property="firmId" jdbcType="VARCHAR"/>
        <result column="BRANCH_NO" property="branchNo" jdbcType="VARCHAR"/>
        <result column="SEAT_PROP" property="seatProp" jdbcType="VARCHAR"/>
        <result column="SEATVIP_FLAG" property="seatVipFlag" jdbcType="VARCHAR"/>
        <result column="EN_STOCK_TYPE" property="enStockType" jdbcType="VARCHAR"/>
        <result column="EN_CLIENT_GROUP" property="enClientGroup" jdbcType="VARCHAR"/>
        <result column="DEFAULT_MARK" property="defaultMark" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="CASHREPORT_FLAG" property="cashReportFlag" jdbcType="VARCHAR"/>
        <result column="SEATORGAN_FLAG" property="seatOrganFlag" jdbcType="VARCHAR"/>
        <result column="ICS_ETFVOUCHER_FLAG" property="icsVoucherFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseSeats" >
        EXCHANGE_TYPE,SEAT_NO,FIRM_ID,BRANCH_NO,SEAT_PROP,SEATVIP_FLAG,EN_STOCK_TYPE,EN_CLIENT_GROUP,DEFAULT_MARK,REMARK,CASHREPORT_FLAG,SEATORGAN_FLAG,ICS_ETFVOUCHER_FLAG
    </sql>

    <select id="queryConditionSeats" parameterType="com.uft.base.sync.oracle.model.Seats" resultMap="SeatsResultMap" >
        select <include refid="baseSeats"/> from seats
        <where>
            <if test="exchangeType != null and !&quot;&quot;.equals(exchangeType)">
                EXCHANGE_TYPE = #{exchangeType}
            </if>
            <if test="seatNo != null and !&quot;&quot;.equals(seatNo)">
                SEAT_NO = #{seatNo}
            </if>
            <if test="firmId != null and !&quot;&quot;.equals(firmId)">
                FIRM_ID = #{firmId}
            </if>
            <if test="branchNo != null and !&quot;&quot;.equals(branchNo)">
                BRANCH_NO = #{branchNo}
            </if>
            <if test="seatProp != null and !&quot;&quot;.equals(seatProp)">
                SEAT_PROP = #{seatProp}
            </if>
            <if test="seatVipFlag != null and !&quot;&quot;.equals(seatVipFlag)">
                SEATVIP_FLAG = #{seatVipFlag}
            </if>
            <if test="enStockType != null and !&quot;&quot;.equals(enStockType)">
                EN_STOCK_TYPE = #{enStockType}
            </if>
            <if test="enClientGroup != null and !&quot;&quot;.equals(enClientGroup)">
                EN_CLIENT_GROUP = #{enClientGroup}
            </if>
            <if test="cashReportFlag != null and !&quot;&quot;.equals(cashReportFlag)">
                CASHREPORT_FLAG = #{cashReportFlag}
            </if>
            <if test="seatOrganFlag != null and !&quot;&quot;.equals(seatOrganFlag)">
                SEATORGAN_FLAG = #{seatOrganFlag}
            </if>
            <if test="icsVoucherFlag != null and !&quot;&quot;.equals(icsVoucherFlag)">
                ICS_ETFVOUCHER_FLAG = #{icsVoucherFlag}
            </if>
        </where>
    </select>
</mapper>